<div class="container">
  <h1>Restaurants</h1>
  <ul>
      <% @restaurants.each do |restaurant| %>
      <li><strong><%= restaurant.name %></strong></li>
        <ul>
          <li><%= restaurant.category %></li>
          <li><%= restaurant.address %></li>
          <li>+<%= restaurant.phone_number %></li>
          <li><%= link_to 'More Info', restaurant %></li>
        </ul>
      <% end %>
      <div class="button"><%= link_to 'Add New Restaurant', new_restaurant_path %></div>
    </ul>
</div>
