<div class="container">
  <h1><%= @restaurant.name %></h1>

  <h3><%= @restaurant.category %></h3>

  <h4><%= @restaurant.address %></h4>

  <h6>+<%= @restaurant.phone_number %></h6>
  <div class="button"><%= link_to 'ðŸ ', restaurants_path %></div>
</div>
